.table_container {
    width: 100%;
    float:  left;
    clear: left;
}
.table-filters {
    float: right;
    width: 100%;
    text-align: right;
}
.search-filters {
    padding: 12px 0;
    float: right;
}
.search-label {
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: capitalize;
    display: inline-block;
    line-height: 30px;
    padding-right: 10px;
    color: #232323;
}
.search-input {
    font-size: 15px;
    color: #232323;
    border: solid 1px #eee;
    padding: 6px 10px;
    display: inline-block;
    line-height: 18px;
    min-width: 200px;
}
.ing-table {
        border-color: #e1e1dd;
    border-style: solid;
    border-width: 1px 0px 0px;
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
      }
      .ing-table th {
        background:#036cb5;
        border: solid 1px #036cb5;
        border-collapse: collapse;
        text-align: left;
        padding: 10px 12px;
        color: #fff;
        font-weight: normal;
        font-size: 15px;
        position: relative;
        font-weight: 600;
}
.ing-table td {
	border: solid 1px #f1f1ed;
	border-collapse: collapse;
	padding: 12px 12px;
	color: #232323;
    font-size: 14px;
}
.ing-table tr {
	background: #fff;
}
.ing-table tr:nth-child(odd) {
	background: #f8f8f6;
}


 .disbursement-button {
        background-color: #ff6200;
        border: none;
        color: white;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        float: right;
      }

      input[type=text],
      input[type=date],
      input[type=number],
      input[type=text] {
        width: 100px;
      }

      input:read-only {
        background-color: #d4d4d4;
        border: none;
      }