<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="p2p-money">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class P2pMoney extends Polymer.Element {
      static get is() { return 'p2p-money'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'p2p-money'
          }
        };
      }
    }

    window.customElements.define(P2pMoney.is, P2pMoney);
  </script>
</dom-module>
