<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/highcharts-chart/highcharts-chart.html">

<dom-module id="currency-map">
  <template>
      <iron-ajax
   auto
    url='http://10.117.189.129:8080/P2P_Currency_Exchange_Platform/getOrdersCount'
    handle-as="json"
    on-response="_handleResponse"
    on-error="_handleErrorResponse"
    debounce-duration="300"></iron-ajax>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2></h2>

    <highcharts-chart type="pie" data="{{piedata}}" title='Orders by Country' x-zoom x-label="Country" y-label="Transactions"></highcharts-chart>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CurrencyMap extends Polymer.Element {
      static get is() { return 'currency-map'; }
      static get properties() {
        return {
          piedata: {
            type: Array,
            value:  [],
            reflectToAttribute : true
          }
        };
      }
      _handleResponse(data){
          var data = data.detail.response
          var tempArray = [];
          for(var i=0;i<data.length;i++){
              var temp = [];
              temp.push(data[i].originCountry);
              temp.push(data[i].count);
            tempArray.push(temp)

          }
        this.piedata = tempArray;
      }
      
      _handleErrorResponse(){

      }
    }

    window.customElements.define(CurrencyMap.is, CurrencyMap);
  </script>
</dom-module>