<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../bower_components/header-footer/header-footer.html" />
<link rel="import" href="transactions-details.html">
<link rel="import" href="currency-pie.html">

<dom-module id="p2p-money">
 
  <template is="dom-bind">
     <iron-ajax
    id="requestId"
    url='http://10.117.189.129:8080/P2P_Currency_Exchange_Platform/getOrders'
    handle-as="json"
    on-response="_handleResponse"
    on-error="_handleErrorResponse"
    debounce-duration="300"></iron-ajax>
        <style>
            :host {
                display: block
            }
            .container {
                padding: 0 20px;
                margin: 0 auto;
                width: 100%;
                box-sizing: border-box;                
            }
            .fixed .container {
                max-width: 1140px;
            }
            .fluid .container {
                max-width: 100%;
            }
            .content_wrapper {
                width: 100%;
                float: left;
                clear: both;
                padding: 20px 0;
                min-height: calc(100% - 200px);
                max-height: calc(100% - 137px);
                overflow-x: hidden;
                overflow-y: auto;
            }
        </style>
        
          <header-footer layout="fixed" type="header" logo="http://www.hcl.com/sites/default/files/main-logo.png"></header-footer>

            <currency-map ></currency-map>

        <div class="content_wrapper fixed">
            <div class="container">

              <transcations-details list="{{data}}" ></transcations-details>

            </div> 


   
        </div>    
    </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class P2pMoney extends Polymer.Element {
      static get is() { return 'p2p-money'; }
      static get properties() {
        return {
          data :{
            type :  Array,
            value : [], 
          },
          chartdata:{
            type :Array,
            value : [["INDIA",50],["Australia",50]]
          }
        };
      }

      _handleResponse(data){
        console.log(data.detail.response);
        this.data = data.detail.response;
        //this.chartdata = this.generateChartData(data.detail.response);
      }
      _handleErrorResponse(){
        console.log("hierror");
      }
      
//       generateChartData(data){
//         var lookup = {};
// var items = data;
// var result = [];

// for (var item, i = 0; item = items[i++];) {
//   var name = item.orginCountry;
//   if ((name in lookup)) {
//     lookup[name] = 1;
//     result.push(name);
//   }

// }
//       console.log(result);  
//       }
      constructor(){
        super();
      }
      ready(){
        super.ready();
        this.$.requestId.generateRequest();
      }

    

     
      
    }

    window.customElements.define(P2pMoney.is, P2pMoney);
  </script>
</dom-module>
