<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="transcations-details">
  <link rel="import" type="css" href="css/data-tables.css" />
    <template>
<h1 class="heading">Transactions Details</h1>
        <style>
           
</style>

<div class="table_container">
  <div class="table-filters">
    <div class="search-filters">
      <span class="search-label"> Search : </span>
      <input class="search-input" placeholder="Country " type="text" value="{{searchString::input}}" id="filter" />
    </div>
  </div>
<table class="ing-table">
    <thead>
  <tr>
    <th >User ID</th>
    <th >From</th>
    <th >To</th>
    <th >Sell</th>
    <th >Buy</th>
    <th >Rate</th>
    <th >Fee</th>
    <th >Country</th>
    <th >Time</th>


  </tr>
</thead>
<tbody>
<template is="dom-repeat" items="{{list}}" filter="{{_computeFilter(searchString)}}">
  <tr>
    <td>[[item.userId]]</td>
    <td>[[item.from]]</td>
     <td>[[item.to]]</td>
       <td>[[item.sell]]</td>
        <td>[[item.buy]]</td>
         <td>[[item.rate]]</td>
          <td>[[item.fee]]</td>
            <td>[[item.orginCountry]]</td>
            <td>[[_getDate(item.timePlaced)]]</td>


  </tr>
</template>
</tbody>
</table>
    </template>

    <script>
        class ingApplicationStatus extends Polymer.Element {

            static get is() { return 'transcations-details'; }

            static get properties() {
                return {
                    list : {
                    type : Array,
                    value : [], 
                    reflectToAttribute : true
                    },
                    searchString : {
                        type :String
                    },
                    type : {
                        type :String
                    }
                    
                };
            }
            _getDate(date){
                return new Date(date).toDateString();

            }

            _computeFilter(string) {
                if (!string) {
          // set filter to null to disable filtering
          return null;
        } else {
          // return a filter function for the current search string
          //string = string.toLowerCase();
          return function(item) {
            var country = item.orginCountry.toLowerCase();
            return (country.indexOf(string.toLowerCase()) != -1 );
          };
        }
        }
           
            constructor() {
                super();
            }


        }

        window.customElements.define(ingApplicationStatus.is, ingApplicationStatus);
    </script>
</dom-module