<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>HCL Money Exchange Application</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c682b1">  <td>17/11/22 11:49:29</td>   <td>0</td> <td title="&gt;&gt;BaseUtil.loadProperty()[pri:0, instance:test.TestUseCases@4b952a2d]">&gt;&gt;loadProperty</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>17/11/22 11:49:29</td>   <td>16</td> <td>&nbsp;</td><td title="&gt;&gt;TestUseCases.initialise()[pri:0, instance:test.TestUseCases@4b952a2d]">&gt;&gt;initialise</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>17/11/22 11:49:42</td>   <td>12366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestUseCases.useCase2a()[pri:0, instance:test.TestUseCases@4b952a2d]">useCase2a</td> 
  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>17/11/22 11:49:43</td>   <td>14072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestUseCases.tearDown(org.testng.ITestResult)[pri:0, instance:test.TestUseCases@4b952a2d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>17/11/22 11:49:44</td>   <td>15025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestUseCases.useCase2b(java.lang.String)[pri:0, instance:test.TestUseCases@4b952a2d]">useCase2b</td> 
  <td>main@1864350231</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>17/11/22 11:49:44</td>   <td>15070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestUseCases.tearDown(org.testng.ITestResult)[pri:0, instance:test.TestUseCases@4b952a2d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1864350231</td>   <td></td> </tr>
</table>
